<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>datacenter_editor</title>
</head>
<body class=background>
    <div id="menue">
        <p1> Hello: {{ user.username }} | <a href="edit">Edit User</a></p1>
        <p1><a href="menu">Home Page</a></p1>
        <p2><a href="logout">Logout</a></p2>
    </div>
    <h1 style="color: #28a745">Data Center Generator</h1>
    <div id='Calculator'>
        <form action='/datacenter_editor' , method='POST'>
            <label>Name of Data Center</label>
            <input type="text" class="form-control" name="DC" placeholder="DataCenter_I_will_never_work_in">
            <label>Rack Waterfall Drop</label>
            <input type="number" class="form-control" name="RW" placeholder="10">
            <label>Brick Waterfall Drop</label>
            <input type="number" class="form-control" name="BW" placeholder="15">
            <label>Length of Aisle</label>
            <input type="number" class="form-control" name="AI" placeholder="5">
            <label>Width of Rack</label>
            <input type="number" class="form-control" name="AI" placeholder="2">
            <label>Slight tweak or correction</label>
            <input type="text" class="form-control" name="TW" placeholder="0">
            <input type='submit' class="btn btn-success" value='Add'> 
            <input type='submit' class="btn btn-warning" value='Edit'>
            <input type='submit' class="btn btn-danger" value='Delete'> 
            
        </form>
</body>
</html>